{% extends 'my_store/main.html' %}

{% block admin_items %}{% endblock %}

{% block content %}
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
  <div class="container main-container">
    {% regroup order_items by order as items_list %}
    {% for item in items_list %}
    <div class="box-element item-container">
      
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link order-head" href="/order/{{  item.grouper }}/">Order# {{ item.grouper }}</a>
            </li>
          </ul>
        
        </div>
      <!--  <table>
          <th>
            <span></span>
          </th>
          <tbody>
            <tr>
              <td style="width:200px;padding:5px"><strong>Product</strong></td>
              <td style="width:200px;padding:5px"><strong>Quantity</strong></td>
            </tr>
          
            {% for i in item.list %}
            <tr>
            
            <td style="padding:5px;">{{ i.product.name }}</td>
            <td style="padding:5px;">{{ i.quantity }}</td>
            
            
            </tr>
            {% endfor %}
          </tr>
          </tbody>
        </table>-->
        
      
    </div>
    {% endfor %}
    
    
  </div>
{% endblock %}