{% extends 'my_store/main.html' %}


{% block content %}
<div class="container">
  <div class="bg-dark second-div">
          <table class="main-table">
            <th>
              
            </th>
            <tr class="main-table-row">
              <td class="main-table-td-left">
                <strong>Order Number:</strong>
              </td>
              <td class="main-table-td-right">
                {{ shipping_address.order }}  
              </td>
            </tr>
            <tr>
              <td class="main-table-td-left">
                <strong>Customer Name:</strong>
              </td>
              <td class="main-table-td-right">
                {{ shipping_address.customer.name }}    
              </td>
            </tr>
            <tr>
              <td class="main-table-td-left">
              <strong>Customer Email:</strong>    
              </td>
              <td class="main-table-td-right">
                {{ shipping_address.customer.email }}    
              </td>
            </tr>
          </table>
  </div>
  <div class="box-element" style="margin:10px;">
    <div class="second-div">
      <table class="main-table skinny-table">
        <thead>
          <p class="dark"><h4>Shipping Details</h3></p>
        </thead>
        <tr class="main-table-row">
          <td class="main-table-td">
          <strong>Address:</strong><p class="dark">{{ shipping_address.address }}</p>
          <hr>
            <strong>City:</strong><p class="dark">{{ shipping_address.city}}</p>
          <hr>
            <strong>State:</strong><p class="dark">{{ shipping_address.state }}</p>
            <hr>
            <strong>Zipcode:</strong><p class="dark">{{ shipping_address.zipcode }}</p>
          </td>
        </tr>
        
      </table>
    </div>
  </div>
</div>

{% endblock %}