{% extends 'my_store/main.html' %}


{% block content %}
<div class="container">
  <div class="bg-dark second-div">
          <table class="main-table">
            <th>
              
            </th>
            <tr class="main-table-row">
              <td class="main-table-td-left">
                <strong>Order Number:</strong>
              </td>
              <td class="main-table-td-right">
                {{ shipping_address.order }}  
              </td>
            </tr>
            <tr>
              <td class="main-table-td-left">
                <strong>Customer Name:</strong>
              </td>
              <td class="main-table-td-right">
                {{ shipping_address.customer.name }}    
              </td>
            </tr>
            <tr>
              <td class="main-table-td-left">
              <strong>Customer Email:</strong>    
              </td>
              <td class="main-table-td-right">
                {{ shipping_address.customer.email }}    
              </td>
            </tr>
          </table>
  </div>
  <div class="box-element"">
    <div class="second-div">
      <div class="third-div">
      <table class="skinny-table">
        <thead>
          <h4>Shipping Details</h4>
        </thead>
        <tr class="main-table-row">
          <td class="main-table-td">
          <p class="dark"><strong>Address:</strong>{{ shipping_address.address }}</p>
          <hr>
            <p class="dark"><strong>City:</strong>{{ shipping_address.city}}</p>
          <hr>
            <p class="dark"><strong>State:</strong>{{ shipping_address.state }}</p>
            <hr>
            <p class="dark"><strong>Zipcode:</strong>{{ shipping_address.zipcode }}</p>
          </td>
        </tr>
        
      </table>
      </div>
      <div class="third-div">
      
      <table class="skinny-table">
        <thead>
          <h4>Order Details</h4>
        </thead>
        
          <tr>
            <td class="p-info">
              <p class="dark"><strong>Product </strong></p>
            </td>
            <td class="p-info">
              <p class="dark"><strong>Quantity</strong></p>
            </td>
          </tr>
            {% for item in order_items %}
          <tr>
          <td class="p-info">
            <p class="dark">{{ item.product }}</p>
            
          </td>
          <td class="p-info">
            <!--<strong>Price:  </strong><p class="dark">{{ item.price}}</p>-->
          
            <p class="dark">{{ item.quantity }}</p>
            
          </td>
          </tr>    
            {% endfor %}
        
        
      </table>
      
      </div>
    </div>
  </div>
</div>

{% endblock %}