

.container{
  position: relative;
  width: 60%;
  display: block;
}

.form-container{
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow:hsl(0, 0%, 80%) 0 0 16px;
  padding: 0px;
  padding-bottom: 10px;
  border-radius: 3px;
}

.headline{
  font-size: small;
  text-align: center;
}

.container h1{
  background-color: #cdcdcd;
  width: 100%;
  margin: 0px;
  padding: 5px 15px;
  border-radius: 3px 3px 0px 0px;
  text-align: center;
}

form{
  margin: 10px;
}

form p{
  width: 100%;
  font-size: small;
  text-align: left;
}

form p:first-child, form p:nth-child(2), form p:nth-child(3){  
  float: left;
}

form p input{
  float: right;
}